<div class="columns" [style.background]="player?.backgroundColor" [style.color]="player?.fontColor">
    <div class="column is-four-fifths">
        <h1 [style.color]="player?.fontColor" class="title has-text-left">{{player?.name}}</h1>
    </div>
    <div class="column columns">
        <div class="column">
            <h2 [style.color]="player?.fontColor" class="title">
                <i class="fas fa-tint"></i>
                {{player?.getHitpoints()}}/{{player?.getMaxHitpoints()}}
            </h2>
        </div>
        <div class="column">
            <h2 [style.color]="player?.fontColor" class="title">
                <img src="assets/custom-icons/crystal-blue.svg" width="30" height="30" />
                {{player?.getCrystals()}}/10
            </h2>
        </div>
    </div>
</div>
<div class="columns">
    <ng-container *ngFor="let card of player?.getHandCards()">
        <app-player-hand-card [card]="card"></app-player-hand-card>
    </ng-container>
</div>