<a class="panel-block is-flex is-flex-wrap-wrap">
  <div class="column is-half-mobile">
    {{card.name}}
  </div>
  <div class="column is-half-mobile is-one-third-desktop">
    <app-card-type [type]="card.type"></app-card-type>
  </div>
  <div class="column">
    <img src="assets/custom-icons/crystal.svg" width="16" height="16" />
    {{card.crystal}}
  </div>
  <div class="column">
    <ng-container *ngIf="card.attack">
      <img src="assets/custom-icons/sword.svg" width="16" height="16" />
      {{card.attack}}
    </ng-container>
  </div>
  <div class="column">
    <ng-container *ngIf="card.life">
      <i class="fas fa-tint"></i>
      {{card.life}}
    </ng-container>
  </div>
  <div class="column">
    <ng-container *ngIf="card.shield !== null">
      <i class="fas fa-shield-alt"></i>
      {{card.shield}}
    </ng-container>
  </div>
</a>
