<section id="gamemodes" class="section has-background-white has-text-black">
    <h1 class="title has-text-black">Spielmoden</h1>
</section>
<!-- 1 gegen 1 -->
<section id="1gegen1" class="section has-background-black has-text-white">
    <h2 class="title has-text-white">1 gegen 1</h2>
    <p class="has-text-left">
        Man spielt mit seinen Karten wie in Spielprinzip beschrieben gegen einen anderen Spieler. Das Ziel: Die Leben
        des
        gegnerischen Spielers mithilfe von Dienern, Zaubern und Partnern auf null zu bringen.
        <br /> Das Spiel wird wie bei den unten aufgeführten Regeln gespielt. Durch diese Weise kann man sich mit einem
        Freund messen.
        <br />
        Die zwei Spieler kommen abwechselnd an den Zug, um ihre Karten zu setzen.
    </p>
</section>
<!-- 2 gegen 2 -->
<section id="2gegen2" class="section has-background-white has-text-black">
    <h2 class="title has-text-black">2 gegen 2</h2>
    <p class="has-text-left">
        Dieser Spielmodus ist perfekt für vier Personen. Mit einem Freund an seiner Seite kann man gegen 2 Andere
        spielen.
        <br />
        Dieser Spielmodus ist sehr gut, um zu testen, wie gut man mit seinem Freund ist. Jeder hat sein eigenes
        Spielfeld,
        man muss also nicht sein Spielfeld mit seinem Freund teilen.
        <br />
        Wenn man gleich hintereinander kommt, kann man einen Gegner gut und schnell ausschalten.
        <br />
        Wenn zuerst vor deinem Freund noch ein Gegner kommt, kann man abwechselnd die neuen Karten ausschalten.
        <br />
        Aber nicht vergessen, der Gegner hat die genau gleiche Zugreihenfolge.
    </p>
</section>