<div class="container special-news has-text-centered is-hidden-desktop">
  <div class="notification is-info">
    <i class="fas fa-exclamation-circle"></i>
    Tutorial steht für die Mobile Anwender nocht nicht zur Verfügung!
    <br />
    <br />
    Dies ist in Arbeit.
    <br />
    Danke fürs Verständnis.
  </div>
</div>
<div class="container special-news has-text-centered is-hidden-mobile">
  <div class="columns is-flex is-flex-wrap-wrap">
    <div class="column is-full">
      <button (click)="start()" class="button is-large is-success">
        <span class="icon">
          <i class="far fa-caret-square-right"></i>
        </span>
        <span>
          Tutorial starten
        </span>
      </button>
    </div>
    <div class="column is-full">
      <a routerLink="/game" class="button is-medium">
        <span class="icon">
          <i class="far fa-caret-square-right"></i>
        </span>
        <span>
          Tutorial überspringen
        </span>
      </a>
    </div>
  </div>
</div>