<div class="columns">
  <div class="column is-one-fifth">
    <div class="field">
      <div class="control">
        <div class="select is-rounded">
          <select>
            <option value="crystal">
              Kristalle
            </option>
            <option value="attack">
              Angriff
            </option>
            <option value="life">
              Leben
            </option>
            <option value="shield">
              Schild
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <app-search-box [placeholder]="'Nach Werten suchen...'" (searchChanged)="filterByValue()"></app-search-box>
  </div>
</div>