<section id="default-rules" class="section has-background-black has-text-white">
    <h1 class="title has-text-white">Standardregeln</h1>
    <div class="columns">
        <div class="column">
            Spielfeldgrösse:
        </div>
        <div class="column">
            Max. 5 Diener und Max. 2 Partner
        </div>
    </div>
    <div class="columns">
        <div class="column">
            Lebenspunkte (Spieler):
        </div>
        <div class="column">
            30 (Kurz) 60 (Mittel) 90 (Lang)
        </div>
    </div>
    <div class="columns">
        <div class="column">
            Grösse des Decks:
        </div>
        <div class="column">
            30 Karten 2 Karten
        </div>
    </div>
    <div class="columns">
        <div class="column">
            Max Anzahl gleiche Karten / Deck:
        </div>
        <div class="column">
            2 Karten
        </div>
    </div>
</section>