<section id="game" class="section has-background-black has-text-white">
    <h1 class="title has-text-white">Das Spiel</h1>
</section>
<!-- Spielvorbereitung -->
<section id="spielvorbereitung" class="section has-background-white has-text-black">
    <h2 class="title has-text-black">Spielvorbereitung</h2>
    <p class="has-text-left">
        Das Deck wird gemischt und verdeckt auf den Tisch gelegt. Die beiden Partnerkarten werden offen neben dem Deck
        hingelegt.
        <br />
        Beide Spieler ziehen eine Karte und legen sie offen auf den Tisch. Der Spieler mit der Karte, welche
        mehr Kristalle kostet, darf beginnen.
        <br />
        Die Karten werden wieder in die Decks gelegt und die Decks werden gemischt.
        <br />
        Jeder Spieler zieht fünf Karten und nimmt sie in die Hand, ohne sie den Gegenspieler zu
        zeigen.
        <br />
        Jeder Spieler beginnt das Spiel mit 0 Kristallen. Das Spiel kann beginnen.
    </p>
</section>
<!-- Spielzug -->
<section id="spielzug" class="section has-background-black has-text-white">
    <h2 class="title has-text-white">Ein Spielzug</h2>
    <p class="has-text-left">
        Bevor jeder Zug anfängt, wird deine Kristallleiste um eins erhöht. Im ersten Zug hast du ein Kristall, im
        zweiten
        Zug zwei und so weiter.
        <br />
        In deinem Zug kannst du deine Karten setzen und mit ihnen angreifen. Aber jede Karte muss
        eine Runde lang auf dem Feld liegen, bevor man sie für den Angriff verwenden kann.
        <br />
        Man sollte sich immer gut überlegen, wen man angreift. Wenn man nur andere Karten angreift, bekommt der Gegner
        nie
        Schaden, kann aber selbst
        nicht angreifen.
        <br />
        Wenn du nur den Gegner angreifst, bekommst du es früher oder später mit einer Masse voller
        gegnerischen Karten zu tun. Eine gute Mischung von beidem ist der richtige Weg zum Ziel.
        <br />
        Es müssen nicht alle Kristalle aufgebraucht werden und auch nicht alle Karten angreifen. Der Zug kann jederzeit
        beendet werden.
        <br />
        Mit jedem Zug erhält man mehr Kristalle, um seine Karten ins Spiel zu bringen.
    </p>
</section>
<!-- Spielende -->
<section id="spielende" class="section has-background-white has-text-black">
    <h2 class="title has-text-black">Spielende</h2>
    <p class="has-text-left">
        Wenn einer der beiden Spieler 0 Leben übrig hat, ist das Spiel beendet.
        <br />
        Derjenige mit 0 Leben hat verloren. Die Anzahl der Karten auf dem Feld spielen am Ende keine Rolle.
        <br />
        Bei vier Spielern müssen die Leben beider Spieler von einem Team auf 0 sinken.
    </p>
</section>