<div class="player-stats columns" [style.background]="player?.backgroundColor" [style.color]="player?.fontColor">
  <div class="column is-half">
    <h1 [style.color]="player?.fontColor" class="title has-text-left">{{player?.name}}</h1>
  </div>
  <div class="column columns">
    <div class="column">
      <h2 [style.color]="player?.fontColor" class="title">
        <i class="fas fa-tint"></i>
        {{player?.hitpoints}}/{{player?.maxHitpoints}}
      </h2>
    </div>
    <div class="column">
      <h2 [style.color]="player?.fontColor" class="title">
        <img src="assets/custom-icons/crystal-blue.svg" width="30" height="30" />
        {{player?.crystals}}/{{player?.service.MAX_CRYSTALYS}}
      </h2>
    </div>
    <div class="column">
      <h2 [style.color]="player?.fontColor" class="title">
        <i class="fas fa-cross"></i>
        {{player?.graveyard.length}}
      </h2>
    </div>
    <div class="column">
      <button class="button" (click)="draw()" [style.background]="player?.backgroundColor" [style.color]="player?.fontColor">
        Karte ziehen
      </button>
    </div>
  </div>
</div>
