<section id="general-rules" class="section has-background-white has-text-black">
    <h1 class="title has-text-black">Allgemeine Regeln</h1>
</section>
<!-- Karteneffekte -->
<section id="karteneffekte" class="section has-background-black has-text-white">
    <h2 class="title has-text-white">Karteneffekte</h2>
    <p>
        Effekte werden beim Setzen ausgelöst und nachdem ein Diener stirbt, wird der Effekt beendet.
        <br />
        Gewisse Effekte werden beim Angriff oder an anderen Stellen ausgelöst.
        <br />
        Solche Sonderfälle werden auf der Karte erwähnt.
    </p>
</section>
<!-- Spezielle Effekte -->
<section id="spezielle-effekte" class="section has-background-white has-text-black">
    <h2 class="title has-text-black">Spezielle Effekte</h2>
</section>
<!-- Ansturm -->
<section id="ansturm" class="section has-background-black has-text-white">
    <h3 class="title has-text-white">Ansturm</h3>
    <p>
        Eine Karte, welche die Fähigkeit “Ansturm“ besitzt, kann direkt, nachdem er gesetzt wurde, angreifen.
        <br />
        Diese Fähigkeit ermöglicht es dir, die Warterunde zu überspringen und somit einen sicheren Angriff mit diesem
        Diener zu bekommen.
    </p>
</section>
<!-- Schildträger -->
<section id="schildtraeger" class="section has-background-white has-text-black">
    <h3 class="title has-text-black">Schildträger</h3>
    <p>
        Eine Karte, welche die Fähigkeit “Schildträger“ besitzt, schützt dich vor direkten Angriffen.
        <br />
        Solange ein Schildträger auf dem Feld liegt, MUSS der Gegner diesen angreifen und darf keinen anderen Gegner
        oder
        dich
        angreifen. Sobald der Schildträger besiegt ist, kann der Gegner sofort wieder wählen, wen er angreifen will.
    </p>
</section>
<!-- Wutanfall -->
<section id="wutanfall" class="section has-background-black has-text-white">
    <h3 class="title has-text-white">Wutanfall</h3>
    <p>
        Wutanfall wird ausgelöst, wenn ein Diener nicht mehr volle Leben hat.
        <br />
        Der Wutanfall wird in Effekt erwähnt. Eine Heilung auf die vollen Leben dieses Dieners beendet den Wutanfall.
    </p>
</section>
<!-- Werte -->
<section id="werte" class="section has-background-white has-text-black">
    <h2 class="title has-text-black">Werte</h2>
</section>
<!-- Kristalle -->
<section id="kristalle" class="section has-background-black has-text-white">
    <h3 class="title has-text-white">Kristalle</h3>
    <p class="has-text-left">
        Kristalle bestimmt, wann du eine Karte setzen kannst. Man startet mit einem Kristall in die erste Runde.
        <br />
        Mit jedem deiner Züge erhältst du einen weiteren Kristall. Die Zahl oben links bei einer Karte zeigt, wie viele
        Kristalle es
        braucht, um die Karte zu setzen.
        <br />
        Die nicht verbrauchten Kristalle können noch gebraucht werden. Das heisst wenn du sechs Kristalle hast, und eine
        Karte mit vier Kristallen spielst, kannst du immer noch zwei Kristalle verbrauchen.
        <br />
        Die aufgebrauchten Kristalle werden nächste Runde wieder aufgefüllt, Die nicht verbrauchten Kristalle werden
        NICHT
        gutgeschrieben.
        <br />
        Man kann nur die maximale Anzahl an Kristallen haben, die durch die Rundenanzahl vorgeschrieben
        ist.
    </p>
</section>
<!-- Angriff -->
<section id="angriff" class="section has-background-white has-text-black">
    <h3 class="title has-text-black">Angriff</h3>
    <p>
        Der Angriffswert bestimmt, wie viel Schaden eine Karte austeilen kann.
        <br />
        Der Angriffswert ist die Zahl auf dem Schwert.
    </p>
</section>
<!-- Leben -->
<section id="leben" class="section has-background-black has-text-white">
    <h3 class="title has-text-white">Leben</h3>
    <p>
        Die Leben sind die Kraftpunkte einer Karte. Wenn die Leben zu Neige gehen, ist die Karte besiegt und verlässt
        das
        Spielfeld.
        <br />
        Wenn ein Diener angegriffen wird, und nicht alle Leben verliert, wird der Verlust beibehalten.
        <br />
        Dies kann Schriftlich oder auf einem Computer notiert werden.
    </p>
</section>
<!-- Schild -->
<section id="schild" class="section has-background-white has-text-black">
    <h3 class="title has-text-black">Schild</h3>
    <p>
        Der Schild ist ein besonderer Verteidigungswert.
        <br />
        Solange ein Gegner mit seinem Angriff den Schildwert nicht übertreffen kann, bekommt dein Diener kein Schaden.
        <br />
        Der Schildwert kann nicht abnehmen. Das heisst, ein Angriff kann den Schildwert nicht kleiner machen.
        <br />
        Der Schildwert bleibt gleich bis der Diener besiegt wurde.
    </p>
</section>