<section class="section has-background-white has-text-black">
  <div class="container">
    <nav class="panel">
      <h1 class="title panel-heading">
        Karten
      </h1>
      <div class="panel-block">
        <p class="control has-icons-left">
          <app-search-box (searchChanged)="searchChanges($event)"></app-search-box>
          <app-wiki-filter></app-wiki-filter>
        </p>
      </div>
      <app-wiki-list [cards]="filteredCards"></app-wiki-list>
    </nav>
  </div>
</section>
