<section class="section has-background-white has-text-black">
    <div class="container has-text-centered">
        <div class="columns">
            <div class="column">
                <app-game-board [player]="'OPP'" [shouldChangePosition]="!isPlayerAfterMid"></app-game-board>
                <div class="columns">
                    <div class="column bordered">
                        Mid
                    </div>
                </div>
                <app-game-board [player]="'PLA'" [shouldChangePosition]="isPlayerAfterMid"></app-game-board>
            </div>
        </div>
    </div>
</section>