<ng-container *ngIf="isStarted; else startGame">
    <section class="section has-background-white has-text-black">
        <div class="container has-text-centered">
            <div class="columns is-flex is-flex-wrap-wrap">
                <div class="column is-full">
                    <app-player [player]="playerBot"></app-player>
                </div>
                <div class="column is-full">
                    <app-game-board [player]="playerBot" [shouldChangePosition]="!isPlayerAfterMid"></app-game-board>
                    <div class="columns">
                        <div class="column bordered">
                            Mid
                        </div>
                    </div>
                    <app-game-board [player]="player" [shouldChangePosition]="isPlayerAfterMid"></app-game-board>
                </div>
                <div class="column is-full">
                    <app-player [player]="player"></app-player>
                </div>
            </div>
        </div>
    </section>
</ng-container>
<ng-template #startGame>
    <app-tutorial-start-game (started)="start()"></app-tutorial-start-game>
</ng-template>