<section class="section has-background-white has-text-black">
  <div class="container has-text-centered">
    <h1 class="title">
      {{card.id}} {{card.name}}
      <app-card-type [type]="card.type"></app-card-type>
    </h1>
    <div class="columns">
      <div class="column">
        <img [src]="card.img" alt="Karte {{card.name}}" />
      </div>
      <div class="column">
        <h2 class="subtitle has-text-left">Beschreibung</h2>
        <p class="has-text-left">{{card.description}}</p>
        <br />
        <ng-container *ngIf="card.effects">
          <h2 class="subtitle has-text-left">Effekte</h2>
          <p class="has-text-left">{{card.effects}}</p>
        </ng-container>
        <br />
        <app-card-details-table [card]="card"></app-card-details-table>
      </div>
    </div>
    <nav class="pagination">
      <a *ngIf="!previousCard"></a>
      <ng-container *ngIf="previousCard">
        <a href="/wiki/{{previousCard.id}}" class="pagination-previous">
          {{ previousCard.id }}
          {{ previousCard.name }}
        </a>
      </ng-container>
      <ng-container *ngIf="nextCard">
        <a href="/wiki/{{nextCard.id}}" c class="pagination-next">
          {{ nextCard.id }}
          {{ nextCard.name }}
        </a>
      </ng-container>
    </nav>
  </div>
</section>