<section id="partner" class="section has-background-white has-text-black">
    <h1 class="title has-text-black">Partnerkarten</h1>
    <p class="has-text-left">
        Partnerkarten sind besondere Karten, welche dem Spieler helfen sollen, möglichst alle ihre Kristalle zu
        verbrauchen.
        <br />
        Vor dem Spiel darf man zwei Partnerkarten auswählen. Diese werden neben das Deck gelegt.
        <br />
        In jedem Zug darf man die Partner so oft benutzen, wie es auf der Karte steht. Die Partner haben keine Werte und
        bleiben über das gesamte Spiel neben dem Deck liegen.
        <br />
        Die Partnerkarten können nicht vom Gegner gesperrt/angegriffen oder besiegt werden.
        <br />
        Jedes Einsetzten des Effektes kostet die angegebenen Kristalle.
    </p>
</section>