<section class="section">
  <div class="menu sticky">
    <p class="menu-label">
      <b>Regeln</b>
    </p>
    <ul id="menu" class="menu-list">
      <li>
        <a [routerLink]='"."' [fragment]="'spielprinzip'">Das Spielprinzip</a>
      </li>
      <li>
        <a href="#standardregeln">Standardregeln</a>
      </li>
      <li>
        <a href="#onpage">On-Page SEO Checklist</a>
      </li>
      <li>
        <a href="#content">Content Checklist</a>
      </li>
      <li>
        <a href="#technical">Technical SEO Checklist</a>
      </li>
      <li>
        <a href="#link">Link Building Checklist</a>
      </li>
    </ul>
  </div>
</section>
