<section class="section">
  <div class="menu">
    <p class="menu-label">
      <b>Regeln</b>
    </p>
    <ul id="menu" class="menu-list">
      <li>
        <a href="rules/#spielprinzip">Das Spielprinzip</a>
      </li>
      <li>
        <a href="rules/#standardregeln">Standardregeln</a>
      </li>
      <li>
        <a href="rules/#spielmoden">
          Spielmoden
        </a>

        <ul>
          <li>
            <a href="rules/#1gegen1">
              1 gegen 1
            </a>
          </li>
          <li>
            <a href="rules/#2gegen2">
              2 gegen 2
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="rules/#spiel">
          Das Spiel
        </a>

        <ul>
          <li>
            <a href="rules/#spielvorbereitung">
              Spielvorbereitung
            </a>
          </li>
          <li>
            <a href="rules/#spielzug">
              Ein Spielzug
            </a>
          </li>
          <li>
            <a href="rules/#spielende">
              Spielende
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="rules/#general-rules">
          Allgemeine Regeln
        </a>

        <ul>
          <li>
            <a href="rules/#1gegen1">
              Karteneffekte
            </a>
          </li>
          <li>
            <a href="rules/#spezielle-effekte">
              Spezielle Effekte
            </a>

            <ul>
              <li>
                <a href="rules/#ansturm">
                  Ansturm
                </a>
              </li>
              <li>
                <a href="rules/#schildtraeger">
                  Schildträger
                </a>
              </li>
              <li>
                <a href="rules/#wutanfall">
                  Wutanfall
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a href="rules/#werte">
              Werte
            </a>

            <ul>
              <li>
                <a href="rules/#kristalle">
                  Kristalle
                </a>
              </li>
              <li>
                <a href="rules/#angriff">
                  Angriff
                </a>
              </li>
              <li>
                <a href="rules/#leben">
                  Leben
                </a>
              </li>
              <li>
                <a href="rules/#schild">
                  Schild
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <a href="rules/#derangriff">Der Angriff</a>
      </li>
      <li>
        <a href="rules/#partnerkarten">Partnerkarten</a>
      </li>
    </ul>
  </div>
</section>
