<section class="section">
  <div class="menu">
    <p class="menu-label">
      <b>Regeln</b>
    </p>
    <ul id="menu" class="menu-list">
      <li>
        <a (click)="showPage('gameplay')">Das Spielprinzip</a>
      </li>
      <li>
        <a (click)="showPage('default')">Standardregeln</a>
      </li>
      <li>
        <a (click)="showPage('gamemodes')">
          Spielmoden
        </a>
      </li>
      <li>
        <a (click)="showPage('game')">
          Das Spiel
        </a>
      </li>
      <li>
        <a (click)="showPage('general')">
          Allgemeine Regeln
        </a>
      </li>
      <li>
        <a (click)="showPage('attack')">Der Angriff</a>
      </li>
      <li>
        <a (click)="showPage('partner')">Partnerkarten</a>
      </li>
    </ul>
  </div>
</section>