<div class="columns">
    <div class="column bordered">
        {{player?.name}} Spell Slot 1
    </div>
    <div class="column bordered">
        {{player?.name}} Spell Slot 2
    </div>
    <div class="column bordered">
        {{player?.name}} Spell Slot 3
    </div>
    <div class="column bordered">
        {{player?.name}} Spell Slot 4
    </div>
    <div class="column bordered">
        {{player?.name}} Spell Slot 5
    </div>
    <div class="column bordered">
        {{player?.name}} Space
    </div>
    <div class="column bordered">
        {{player?.name}} Partner Slot 1
    </div>
    <div class="column bordered">
        {{player?.name}} Partner Slot 2
    </div>
</div>