<section id="attack" class="section has-background-white has-text-black">
    <h2 class="title has-text-black">Der Angriff</h2>
    <p class="has-text-left">
        Beim Angriff kämpfen zwei Diener gegeneinander oder ein Diener gegen einen Spieler. Der Angreifer muss zuerst
        den
        Schildwert durchbrechen.
        <br />
        Nachdem dies getan ist, wird der restliche Angriff benutzt, um dem Diener Schaden hinzuzufügen.
        <br />
        Wenn der Schaden reicht, um die Leben des gegnerischen Dieners auf 0 zu reduzieren, ist der Diener
        besiegt und wird vom Feld gelegt.
        <br />
        ACHTUNG: Wenn du einen Diener angreifst, macht auch er dir Schaden.
        <br />
        Wenn du deinen Diener am Leben behalten möchtest, solltest du also aufpassen, dass du nicht einen zu starken
        Gegner angreifst.
    </p>
</section>