<div class="columns">
    <div class="column bordered">
        {{player?.name}} Diener Slot 1
    </div>
    <div class="column bordered">
        {{player?.name}} Diener Slot 2
    </div>
    <div class="column bordered">
        {{player?.name}} Diener Slot 3
    </div>
    <div class="column bordered">
        {{player?.name}} Diener Slot 4
    </div>
    <div class="column bordered">
        {{player?.name}} Diener Slot 5
    </div>
    <div class="column bordered">
        {{player?.name}} Space
    </div>
    <div class="column bordered">
        {{player?.name}} Graveyard
    </div>
    <div class="column bordered">
        {{player?.name}} Deck Slot
    </div>
</div>