<section id="gameplay" class="section has-background-white has-text-black">
    <h1 class="title has-text-black">Das Spielprinzip</h1>
    <p class="has-text-left">
        In diesem Spiel geht es darum, mit seinen Karten den Gegner zu besiegen. Dafür benutzt man Diener, Zauber und
        Partner um dem Gegner seine Leben abzuziehen.
        <br />
        Diese müssen mit Kristallen gesetzt werden. Man fängt mit 0
        Kristallen an und jeden Zug wird ein neuer Gutgeschrieben und die alten wieder aufgefüllt.
        <br />
        Die Spieler machen abwechslungsweise ihre Züge, bis der eine mit seinen Karten den anderen besiegt hat. Alle
        Karten besitzen Werte
        und / oder Effekte, mit deren Hilfe es möglich ist, zu gewinnen.
        <br />
        Um zu gewinnen, muss man den Gegner angreifen können. Solange ein Spieler keinen Schildträger auf dem Feld hat,
        kann er direkt angegriffen werden.
        <br />
        Der Angriffswert der angreifenden Karte wird dann von den Leben des Gegners abgezogen
    </p>
</section>