<section class="section has-background-white has-text-black">
  <div class="container has-text-centered">
    <h1 class="title has-text-black">Kampf der Diener</h1>
    <!-- TODO MF: Integrate Logo / Icon -->
    <p class="has-text-left">
      Kampf der Diener ist ein Kartenspiel, welches Inspirationen von bereits exitieren Kartenspielen wie Heartstone,
      Yu-Gi-Oh! und weitere.
      <br />
      Jede einzelne ist einzigartig und auf eine eigene Art speziell. Die Karten sind in unseren
      <a routerLink="/shop">Shop</a> erhältlich und mit <a routerLink="/rules">Regeln</a> zu einem Spiel geformt.
      <br />
      <br />
      Es gibt drei Arten von Karten. Die erste Art sind <strong>Diener</strong>. Sie sind die wichtigsten Karten.
      Sie sind sozusagen die Armee des Spielers, welche den Gegner besiegen soll.
      <br />
      Als Unterstützung für diese Armee gibt es noch <strong>Zauberkarten</strong>. Diese haben verschiedene Effekte und
      sollen die
      verbündeten Diener unterstützen und die
      gegnerischen Diener schwächen.
      <br />
      Als drittes gibt es noch die <strong>Partner</strong> Diese sollen wie die Zauber
      unterstützen, sind aber immer verfügbar. Sie sollen dem Spieler helfen, seine überflüssigen Kristalle zu
      verbrauchen.
    </p>
  </div>
</section>
