@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '../node_modules/luxbar/scss/luxbar.scss';
@import '../node_modules/bulma/bulma.sass';

/*** Layout ***/
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  /* Responsive base font size */
  /* Inspired by: https://www.codementor.io/ricardozea/100-responsive-typography-system-using-a-modular-scale-s5rhft58g*/
  font-size: calc(1rem + .15vw);
  margin-top: 3rem;
  margin-bottom: 5rem;
}

/*** Typography ***/
.pointer {
  cursor: pointer;
}

/*** Speical News ***/
.special-news {
  position: absolute;
  top: 25%;
  bottom: 0;
  left: 0;
  right: 0;
}

/*** Column ***/
.column.bordered {
  border: 0.1rem grey solid
}

/*** Buttons ***/
.button {
  font-weight: bold;
  text-transform: uppercase;
}
