<!-- Spielprinzip -->
<section [attr.id]="'spielprinzip'" class="section has-background-white has-text-black">
  <div class="container has-text-centered">
    <h1 class="title has-text-black">Das Spielprinzip</h1>
    <p class="has-text-left">
      In diesem Spiel geht es darum, mit seinen Karten den Gegner zu besiegen. Dafür benutzt man Diener, Zauber und
      Partner um dem Gegner seine Leben abzuziehen.
      <br />
      Diese müssen mit Kristallen gesetzt werden. Man fängt mit 0
      Kristallen an und jeden Zug wird ein neuer Gutgeschrieben und die alten wieder aufgefüllt.
      <br />
      Die Spieler machen abwechslungsweise ihre Züge, bis der eine mit seinen Karten den anderen besiegt hat. Alle
      Karten besitzen Werte
      und / oder Effekte, mit deren Hilfe es möglich ist, zu gewinnen.
      <br />
      Um zu gewinnen, muss man den Gegner angreifen können. Solange ein Spieler keinen Schildträger auf dem Feld hat,
      kann er direkt angegriffen werden.
      <br />
      Der Angriffswert der angreifenden Karte wird dann von den Leben des Gegners abgezogen
    </p>
  </div>
</section>
<!-- Standardregeln -->
<section class="section has-background-black has-text-white">
  <div class="container has-text-left">
    <h1 class="title has-text-white has-text-centered">Standardregeln</h1>
    <div class="columns">
      <div class="column">
        Spielfeldgröße:
      </div>
      <div class="column">
        Max. 5 Diener und Max. 2 Partner
      </div>
    </div>
    <div class="columns">
      <div class="column">
        Lebenspunkte (Spieler):
      </div>
      <div class="column">
        30 (Kurz) 60 (Mittel) 90 (Lang)
      </div>
    </div>
    <div class="columns">
      <div class="column">
        Grösse des Decks:
      </div>
      <div class="column">
        30 Karten 2 Karten
      </div>
    </div>
    <div class="columns">
      <div class="column">
        Max Anzahl gleiche Karten / Deck:
      </div>
      <div class="column">
        2 Karten
      </div>
    </div>
  </div>
</section>
<!-- Spielmoden -->
<section class="section has-background-white has-text-black has-text-centered">
  <div class="container">
    <h1 class="title has-text-black">Spielmoden</h1>
  </div>
</section>
<!-- 1 gegen 1 -->
<section class="section has-background-white has-text-black has-text-centered">
  <div class="container">
    <h2 class="title has-text-black">1 gegen 1</h2>
    <p class="has-text-left">
      Man spielt mit seinen Karten wie in Spielprinzip beschrieben gegen einen anderen Spieler. Das Ziel: Die Leben des
      gegnerischen Spielers mithilfe von Dienern, Zaubern und Partnern auf null zu bringen.
      <br /> Das Spiel wird wie bei den unten aufgeführten Regeln gespielt. Durch diese Weise kann man sich mit einem
      Freund messen.
      <br />
      Die zwei Spieler kommen abwechselnd an den Zug, um ihre Karten zu setzen.
    </p>
  </div>
</section>
<!-- 2 gegen 2 -->
<section class="section has-background-white has-text-black has-text-centered">
  <div class="container">
    <h2 class="title has-text-black">2 gegen 2</h2>
    <p class="has-text-left">
      Dieser Spielmodus ist perfekt für vier Personen. Mit einem Freund an seiner Seite kann man gegen 2 Andere spielen.
      <br />
      Dieser Spielmodus ist sehr gut, um zu testen, wie gut man mit seinem Freund ist. Jeder hat sein eigenes Spielfeld,
      man muss also nicht sein Spielfeld mit seinem Freund teilen.
      <br />
      Wenn man gleich hintereinander kommt, kann man einen Gegner gut und schnell ausschalten.
      <br />
      Wenn zuerst vor deinem Freund noch ein Gegner kommt, kann man abwechselnd die neuen Karten ausschalten.
      <br />
      Aber nicht vergessen, der Gegner hat die genau gleiche Zugreihenfolge.
    </p>
  </div>
</section>
<!-- Das Spiel -->
<section class="section has-background-black has-text-white has-text-centered">
  <div class="container">
    <h1 class="title has-text-white">Das Spiel</h1>
  </div>
</section>
<!-- Spielvorbereitung -->
<section class="section has-background-black has-text-white has-text-centered">
  <div class="container">
    <h2 class="title has-text-white">Spielvorbereitung</h2>
    <p class="has-text-left">
      Das Deck wird gemischt und verdeckt auf den Tisch gelegt. Die beiden Partnerkarten werden offen neben dem Deck
      hingelegt.
      <br />
      Beide Spieler ziehen eine Karte und legen sie offen auf den Tisch. Der Spieler mit der Karte, welche
      mehr Kristalle kostet, darf beginnen.
      <br />
      Die Karten werden wieder in die Decks gelegt und die Decks werden gemischt.
      <br />
      Jeder Spieler zieht fünf Karten und nimmt sie in die Hand, ohne sie den Gegenspieler zu
      zeigen.
      <br />
      Jeder Spieler beginnt das Spiel mit 0 Kristallen. Das Spiel kann beginnen.
    </p>
  </div>
</section>
<!-- Spielzug -->
<section class="section has-background-black has-text-white has-text-centered">
  <div class="container">
    <h2 class="title has-text-white">Ein Spielzug</h2>
    <p class="has-text-left">
      Bevor jeder Zug anfängt, wird deine Kristallleiste um eins erhöht. Im ersten Zug hast du ein Kristall, im zweiten
      Zug zwei und so weiter.
      <br />
      In deinem Zug kannst du deine Karten setzen und mit ihnen angreifen. Aber jede Karte muss
      eine Runde lang auf dem Feld liegen, bevor man sie für den Angriff verwenden kann.
      <br />
      Man sollte sich immer gut überlegen, wen man angreift. Wenn man nur andere Karten angreift, bekommt der Gegner nie
      Schaden, kann aber selbst
      nicht angreifen.
      <br />
      Wenn du nur den Gegner angreifst, bekommst du es früher oder später mit einer Masse voller
      gegnerischen Karten zu tun. Eine gute Mischung von beidem ist der richtige Weg zum Ziel.
      <br />
      Es müssen nicht alle Kristalle aufgebraucht werden und auch nicht alle Karten angreifen. Der Zug kann jederzeit
      beendet werden.
      <br />
      Mit jedem Zug erhält man mehr Kristalle, um seine Karten ins Spiel zu bringen.
    </p>
  </div>
</section>
<!-- Spielende -->
<section class="section has-background-black has-text-white has-text-centered">
  <div class="container">
    <h2 class="title has-text-white">Spielende</h2>
    <p class="has-text-left">
      Wenn einer der beiden Spieler 0 Leben übrig hat, ist das Spiel beendet.
      <br />
      Derjenige mit 0 Leben hat verloren. Die Anzahl der Karten auf dem Feld spielen am Ende keine Rolle.
      <br />
      Bei vier Spielern müssen die Leben beider Spieler von einem Team auf 0 sinken.
    </p>
  </div>
</section>
