<!-- Spielprinzip -->
<section id="spielprinzip" class="section has-background-white has-text-black">
  <div class="container has-text-centered">
    <h1 class="title has-text-black">Das Spielprinzip</h1>
    <p class="has-text-left">
      In diesem Spiel geht es darum, mit seinen Karten den Gegner zu besiegen. Dafür benutzt man Diener, Zauber und
      Partner um dem Gegner seine Leben abzuziehen.
      <br />
      Diese müssen mit Kristallen gesetzt werden. Man fängt mit 0
      Kristallen an und jeden Zug wird ein neuer Gutgeschrieben und die alten wieder aufgefüllt.
      <br />
      Die Spieler machen abwechslungsweise ihre Züge, bis der eine mit seinen Karten den anderen besiegt hat. Alle
      Karten besitzen Werte
      und / oder Effekte, mit deren Hilfe es möglich ist, zu gewinnen.
      <br />
      Um zu gewinnen, muss man den Gegner angreifen können. Solange ein Spieler keinen Schildträger auf dem Feld hat,
      kann er direkt angegriffen werden.
      <br />
      Der Angriffswert der angreifenden Karte wird dann von den Leben des Gegners abgezogen
    </p>
  </div>
</section>
<!-- Standardregeln -->
<section id="standardregeln" class="section has-background-black has-text-white">
  <div class="container has-text-left">
    <h1 class="title has-text-white has-text-centered">Standardregeln</h1>
    <div class="columns">
      <div class="column">
        Spielfeldgröße:
      </div>
      <div class="column">
        Max. 5 Diener und Max. 2 Partner
      </div>
    </div>
    <div class="columns">
      <div class="column">
        Lebenspunkte (Spieler):
      </div>
      <div class="column">
        30 (Kurz) 60 (Mittel) 90 (Lang)
      </div>
    </div>
    <div class="columns">
      <div class="column">
        Grösse des Decks:
      </div>
      <div class="column">
        30 Karten 2 Karten
      </div>
    </div>
    <div class="columns">
      <div class="column">
        Max Anzahl gleiche Karten / Deck:
      </div>
      <div class="column">
        2 Karten
      </div>
    </div>
  </div>
</section>
<!-- Spielmoden -->
<section id="spielmoden" class="section has-background-white has-text-black has-text-centered">
  <div class="container">
    <h1 class="title has-text-black">Spielmoden</h1>
  </div>
</section>
<!-- 1 gegen 1 -->
<section id="1gegen1" class="section has-background-black has-text-white has-text-centered">
  <div class="container">
    <h2 class="title has-text-white">1 gegen 1</h2>
    <p class="has-text-left">
      Man spielt mit seinen Karten wie in Spielprinzip beschrieben gegen einen anderen Spieler. Das Ziel: Die Leben des
      gegnerischen Spielers mithilfe von Dienern, Zaubern und Partnern auf null zu bringen.
      <br /> Das Spiel wird wie bei den unten aufgeführten Regeln gespielt. Durch diese Weise kann man sich mit einem
      Freund messen.
      <br />
      Die zwei Spieler kommen abwechselnd an den Zug, um ihre Karten zu setzen.
    </p>
  </div>
</section>
<!-- 2 gegen 2 -->
<section id="2gegen2" class="section has-background-white has-text-black has-text-centered">
  <div class="container">
    <h2 class="title has-text-black">2 gegen 2</h2>
    <p class="has-text-left">
      Dieser Spielmodus ist perfekt für vier Personen. Mit einem Freund an seiner Seite kann man gegen 2 Andere spielen.
      <br />
      Dieser Spielmodus ist sehr gut, um zu testen, wie gut man mit seinem Freund ist. Jeder hat sein eigenes Spielfeld,
      man muss also nicht sein Spielfeld mit seinem Freund teilen.
      <br />
      Wenn man gleich hintereinander kommt, kann man einen Gegner gut und schnell ausschalten.
      <br />
      Wenn zuerst vor deinem Freund noch ein Gegner kommt, kann man abwechselnd die neuen Karten ausschalten.
      <br />
      Aber nicht vergessen, der Gegner hat die genau gleiche Zugreihenfolge.
    </p>
  </div>
</section>
<!-- Das Spiel -->
<section id="spiel" class="section has-background-black has-text-white has-text-centered">
  <div class="container">
    <h1 class="title has-text-white">Das Spiel</h1>
  </div>
</section>
<!-- Spielvorbereitung -->
<section id="spielvorbereitung" class="section has-background-white has-text-black has-text-centered">
  <div class="container">
    <h2 class="title has-text-black">Spielvorbereitung</h2>
    <p class="has-text-left">
      Das Deck wird gemischt und verdeckt auf den Tisch gelegt. Die beiden Partnerkarten werden offen neben dem Deck
      hingelegt.
      <br />
      Beide Spieler ziehen eine Karte und legen sie offen auf den Tisch. Der Spieler mit der Karte, welche
      mehr Kristalle kostet, darf beginnen.
      <br />
      Die Karten werden wieder in die Decks gelegt und die Decks werden gemischt.
      <br />
      Jeder Spieler zieht fünf Karten und nimmt sie in die Hand, ohne sie den Gegenspieler zu
      zeigen.
      <br />
      Jeder Spieler beginnt das Spiel mit 0 Kristallen. Das Spiel kann beginnen.
    </p>
  </div>
</section>
<!-- Spielzug -->
<section id="spielzug" class="section has-background-black has-text-white has-text-centered">
  <div class="container">
    <h2 class="title has-text-white">Ein Spielzug</h2>
    <p class="has-text-left">
      Bevor jeder Zug anfängt, wird deine Kristallleiste um eins erhöht. Im ersten Zug hast du ein Kristall, im zweiten
      Zug zwei und so weiter.
      <br />
      In deinem Zug kannst du deine Karten setzen und mit ihnen angreifen. Aber jede Karte muss
      eine Runde lang auf dem Feld liegen, bevor man sie für den Angriff verwenden kann.
      <br />
      Man sollte sich immer gut überlegen, wen man angreift. Wenn man nur andere Karten angreift, bekommt der Gegner nie
      Schaden, kann aber selbst
      nicht angreifen.
      <br />
      Wenn du nur den Gegner angreifst, bekommst du es früher oder später mit einer Masse voller
      gegnerischen Karten zu tun. Eine gute Mischung von beidem ist der richtige Weg zum Ziel.
      <br />
      Es müssen nicht alle Kristalle aufgebraucht werden und auch nicht alle Karten angreifen. Der Zug kann jederzeit
      beendet werden.
      <br />
      Mit jedem Zug erhält man mehr Kristalle, um seine Karten ins Spiel zu bringen.
    </p>
  </div>
</section>
<!-- Spielende -->
<section id="spielende" class="section has-background-white has-text-black has-text-centered">
  <div class="container">
    <h2 class="title has-text-black">Spielende</h2>
    <p class="has-text-left">
      Wenn einer der beiden Spieler 0 Leben übrig hat, ist das Spiel beendet.
      <br />
      Derjenige mit 0 Leben hat verloren. Die Anzahl der Karten auf dem Feld spielen am Ende keine Rolle.
      <br />
      Bei vier Spielern müssen die Leben beider Spieler von einem Team auf 0 sinken.
    </p>
  </div>
</section>
<!-- Allgemeine Regeln -->
<section id="general-rules" class="section has-background-black has-text-white has-text-centered">
  <div class="container">
    <h1 class="title has-text-white">Allgemeine Regeln</h1>
  </div>
</section>
<!-- Karteneffekte -->
<section id="karteneffekte" class="section has-background-white has-text-black has-text-centered">
  <div class="container">
    <h2 class="title has-text-black">Karteneffekte</h2>
    <p>
      Effekte werden beim Setzen ausgelöst und nachdem ein Diener stirbt, wird der Effekt beendet.
      <br />
      Gewisse Effekte werden beim Angriff oder an anderen Stellen ausgelöst.
      <br />
      Solche Sonderfälle werden auf der Karte erwähnt.
    </p>
  </div>
</section>
<!-- Spezielle Effekte -->
<section id="spezielle-effekte" class="section has-background-black has-text-white has-text-centered">
  <div class="container">
    <h2 class="title has-text-white">Spezielle Effekte</h2>
  </div>
</section>
<!-- Ansturm -->
<section id="ansturm" class="section has-background-white has-text-black has-text-centered">
  <div class="container">
    <h3 class="title has-text-black">Ansturm</h3>
    <p>
      Eine Karte, welche die Fähigkeit “Ansturm“ besitzt, kann direkt, nachdem er gesetzt wurde, angreifen.
      <br />
      Diese Fähigkeit ermöglicht es dir, die Warterunde zu überspringen und somit einen sicheren Angriff mit diesem
      Diener zu bekommen.
    </p>
  </div>
</section>
<!-- Ansturm -->
<section id="schildtraeger" class="section has-background-black has-text-white has-text-centered">
  <div class="container">
    <h3 class="title has-text-white">Schildträger</h3>
    <p>
      Eine Karte, welche die Fähigkeit “Schildträger“ besitzt, schützt dich vor direkten Angriffen.
      <br />
      Solange ein Schildträger auf dem Feld liegt, MUSS der Gegner diesen angreifen und darf keinen anderen Gegner oder
      dich
      angreifen. Sobald der Schildträger besiegt ist, kann der Gegner sofort wieder wählen, wen er angreifen will.
    </p>
  </div>
</section>
<!-- Wutanfall -->
<section id="wutanfall" class="section has-background-white has-text-black has-text-centered">
  <div class="container">
    <h3 class="title has-text-black">Wutanfall</h3>
    <p>
      Wutanfall wird ausgelöst, wenn ein Diener nicht mehr volle Leben hat.
      <br />
      Der Wutanfall wird in Effekt erwähnt. Eine Heilung auf die vollen Leben dieses Dieners beendet den Wutanfall.
    </p>
  </div>
</section>
<!-- Werte -->
<section id="werte" class="section has-background-black has-text-white has-text-centered">
  <div class="container">
    <h2 class="title has-text-white">Werte</h2>
  </div>
</section>
<!-- Kristalle -->
<section id="kristalle" class="section has-background-white has-text-black has-text-centered">
  <div class="container">
    <h3 class="title has-text-black">Kristalle</h3>
    <p class="has-text-left">
      Kristalle bestimmt, wann du eine Karte setzen kannst. Man startet mit einem Kristall in die erste Runde.
      <br />
      Mit jedem deiner Züge erhältst du einen weiteren Kristall. Die Zahl oben links bei einer Karte zeigt, wie viele
      Kristalle es
      braucht, um die Karte zu setzen.
      <br />
      Die nicht verbrauchten Kristalle können noch gebraucht werden. Das heisst wenn du sechs Kristalle hast, und eine
      Karte mit vier Kristallen spielst, kannst du immer noch zwei Kristalle verbrauchen.
      <br />
      Die aufgebrauchten Kristalle werden nächste Runde wieder aufgefüllt, Die nicht verbrauchten Kristalle werden NICHT
      gutgeschrieben.
      <br />
      Man kann nur die maximale Anzahl an Kristallen haben, die durch die Rundenanzahl vorgeschrieben
      ist.
    </p>
  </div>
</section>
<!-- Angriff -->
<section id="angriff" class="section has-background-black has-text-white has-text-centered">
  <div class="container">
    <h3 class="title has-text-white">Angriff</h3>
    <p>
      Der Angriffswert bestimmt, wie viel Schaden eine Karte austeilen kann.
      <br />
      Der Angriffswert ist die Zahl auf dem Schwert.
    </p>
  </div>
</section>
<!-- Leben -->
<section id="leben" class="section has-background-white has-text-black has-text-centered">
  <div class="container">
    <h3 class="title has-text-black">Leben</h3>
    <p>
      Die Leben sind die Kraftpunkte einer Karte. Wenn die Leben zu Neige gehen, ist die Karte besiegt und verlässt das
      Spielfeld.
      <br />
      Wenn ein Diener angegriffen wird, und nicht alle Leben verliert, wird der Verlust beibehalten.
      <br />
      Dies kann Schriftlich oder auf einem Computer notiert werden.
    </p>
  </div>
</section>
<!-- Schild -->
<section id="schild" class="section has-background-black has-text-white has-text-centered">
  <div class="container">
    <h3 class="title has-text-white">Schild</h3>
    <p>
      Der Schild ist ein besonderer Verteidigungswert.
      <br />
      Solange ein Gegner mit seinem Angriff den Schildwert nicht übertreffen kann, bekommt dein Diener kein Schaden.
      <br />
      Der Schildwert kann nicht abnehmen. Das heisst, ein Angriff kann den Schildwert nicht kleiner machen.
      <br />
      Der Schildwert bleibt gleich bis der Diener besiegt wurde.
    </p>
  </div>
</section>
<!-- Der Angriff -->
<section id="derangriff" class="section has-background-white has-text-black has-text-centered">
  <div class="container">
    <h2 class="title has-text-black">Der Angriff</h2>
    <p class="has-text-left">
      Beim Angriff kämpfen zwei Diener gegeneinander oder ein Diener gegen einen Spieler. Der Angreifer muss zuerst den
      Schildwert durchbrechen.
      <br />
      Nachdem dies getan ist, wird der restliche Angriff benutzt, um dem Diener Schaden hinzuzufügen.
      <br />
      Wenn der Schaden reicht, um die Leben des gegnerischen Dieners auf 0 zu reduzieren, ist der Diener
      besiegt und wird vom Feld gelegt.
      <br />
      ACHTUNG: Wenn du einen Diener angreifst, macht auch er dir Schaden.
      <br />
      Wenn du deinen Diener am Leben behalten möchtest, solltest du also aufpassen, dass du nicht einen zu starken
      Gegner angreifst.
    </p>
  </div>
</section>
<!-- Partnerkarten -->
<section id="partnerkarten" class="section has-background-black has-text-white has-text-centered">
  <div class="container">
    <h1 class="title has-text-white">Partnerkarten</h1>
    <p class="has-text-left">
      Partnerkarten sind besondere Karten, welche dem Spieler helfen sollen, möglichst alle ihre Kristalle zu
      verbrauchen.
      <br />
      Vor dem Spiel darf man zwei Partnerkarten auswählen. Diese werden neben das Deck gelegt.
      <br />
      In jedem Zug darf man die Partner so oft benutzen, wie es auf der Karte steht. Die Partner haben keine Werte und
      bleiben über das gesamte Spiel neben dem Deck liegen.
      <br />
      Die Partnerkarten können nicht vom Gegner gesperrt/angegriffen oder besiegt werden.
      <br />
      Jedes Einsetzten des Effektes kostet die angegebenen Kristalle.
    </p>
  </div>
</section>
